name: Linters
on:
  workflow_call:
    inputs:
      check_docs:
        type: boolean
        required: false
        description: Whether or not to lint all markdown files in the project
        default: true
      check_style:
        type: boolean
        required: false
        description: Whether or not to run spotless
        default: true

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        if: github.actor != 'dependabot[bot]'
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout PR
        if: github.actor == 'dependabot[bot]'
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          submodules: 'recursive'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check for Changes
        uses: dorny/paths-filter@v3.0.2
        id: changes
        with:
          filters: |
            source_code:
              - '**/src/**'
              - '**/Dockerfile'
              - '**/build.gradle.kts'
            docs:
              - README.md
              - 'docs/**'

      - name: Lint Documents
        if: inputs.check_docs && steps.changes.outputs.docs == 'true'
        uses: avto-dev/markdown-lint@v1
        continue-on-error: true
        with:
          config: './config/markdown-lint/rules.json'
          args: '**/*.md'

      - name: Check Style
        if: inputs.check_style && steps.changes.outputs.source_code == 'true'
        id: spotless
        continue-on-error: true
        run: ./gradlew spotlessCheck
