name: Continuous Integration

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
  pull_request_target:
    types: [ opened, synchronize, reopened, ready_for_review ]

concurrency:
  group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  pipeline:
    uses: ./.github/workflows/ci.yml
    with:
      app_name: dummy-app

  pipeline_dockerfile_test:
    name: "[ test ] pipeline - dockerfile on project root directory:"
    uses: ./.github/workflows/ci.yml
    with:
      app_name: dummy-app
      dockerfile_path: "./Dockerfile"

  pipeline_docker_image_name_uppoercase:
    name: "[ test ] pipeline - docker image name contains mixture of upper and lower letters:"
    uses: ./.github/workflows/ci.yml
    with:
      app_name: Dummy-APP

  dependabot_auto_merge:
    needs: pipeline
    if: ${{ github.event_name == 'pull_request_target' && github.actor == 'dependabot[bot]' }}
    uses: ./.github/workflows/dependabot-auto-merge.yml
    with:
      auto-update-tag: true
    secrets:
      GITHUB_PAT: ${{ secrets.CI_PAT }}

  linters:
    uses: ./.github/workflows/linters.yml

  update-gradle-wrapper:
    uses: ./.github/workflows/update-gradle-wrapper.yml
    secrets:
      GITHUB_PAT: ${{ secrets.CI_PAT }}

  actions-linter:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: devops-actions/actionlint@v0.1.2
